In [1]:
import pandas as pd

In [2]:
series = pd.Series(['bmw', 'toyota', 'honda'])

In [3]:
series

0       bmw
1    toyota
2     honda
dtype: object

In [5]:
colours = pd.Series(['red', 'green', 'blue'])

In [6]:
colours

0      red
1    green
2     blue
dtype: object

In [7]:
car_data = pd.DataFrame({'car make':series, 'colour':colours})

In [8]:
car_data

  car make colour
0      bmw    red
1   toyota  green
2    honda   blue