In [1]:
import pandas as pd

### Stworzenie Series, a z nich DataFarme

In [2]:
series = pd.Series(['bmw', 'toyota', 'honda'])

In [3]:
series

0       bmw
1    toyota
2     honda
dtype: object

In [4]:
colours = pd.Series(['red', 'green', 'blue'])

In [5]:
colours

0      red
1    green
2     blue
dtype: object

In [6]:
car_data = pd.DataFrame({'car make':series, 'colour':colours})

In [7]:
car_data

  car make colour
0      bmw    red
1   toyota  green
2    honda   blue

### Import z pliku

In [12]:
car_sales = pd.read_csv('car-sales.csv')

In [13]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00