In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# import sklearn
# sklearn.show_versions()

# import warnings
# warnings.filterwarnings('default') # będą warningi
# warnings.filterwarnings('ignore') # nie będą warningi

Dane do ML

In [2]:
heartr_disease = pd.read_csv('data/heart-disease.csv')
heartr_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

Przygotowanie danych do modelu

In [3]:
X = heartr_disease.drop('target', axis=1) # X = heartr_disease oprócz kolumny target (features matrix)
y = heartr_disease['target'] # y = kolumna target (labels)

Wybranie odpowiedniego modelu i odpowiednich hiperparametrów

In [4]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

Dopasowanie modelu do danych treningowych

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
clf.fit(X_train, y_train);

Make a prediction

In [7]:
#y_label = clf.predict(np.array([0, 2, 3, 4]))
y_preds = clf.predict(X_test)
y_preds

array([0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [8]:
y_test

238    0
77     1
254    0
225    0
138    1
      ..
262    0
177    0
235    0
115    1
102    1
Name: target, Length: 61, dtype: int64

Evaluiate the model

In [9]:
clf.score(X_train, y_train)

1.0

In [10]:
clf.score(X_test, y_test)

0.8032786885245902

In [16]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [12]:
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.77      0.83      0.80        29
           1       0.83      0.78      0.81        32

    accuracy                           0.80        61
   macro avg       0.80      0.80      0.80        61
weighted avg       0.81      0.80      0.80        61

In [13]:
confusion_matrix(y_test, y_preds)

array([[24,  5],
       [ 7, 25]], dtype=int64)

In [14]:
accuracy_score(y_test, y_preds)

0.8032786885245902

Improve a model
Try different amount of  n_elements

In [15]:
np.random.seed(42)
for i in range(10, 100, 10):
    print(f'Trying model with {i} estimators...')
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f'Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%')
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 75.41%

Trying model with 20 estimators...
Model accuracy on test set: 72.13%

Trying model with 30 estimators...
Model accuracy on test set: 78.69%

Trying model with 40 estimators...
Model accuracy on test set: 81.97%

Trying model with 50 estimators...
Model accuracy on test set: 81.97%

Trying model with 60 estimators...
Model accuracy on test set: 78.69%

Trying model with 70 estimators...
Model accuracy on test set: 80.33%

Trying model with 80 estimators...
Model accuracy on test set: 80.33%

Trying model with 90 estimators...
Model accuracy on test set: 78.69%

Trying model with 100 estimators...
Model accuracy on test set: 77.05%

Trying model with 110 estimators...
Model accuracy on test set: 78.69%

Trying model with 120 estimators...
Model accuracy on test set: 83.61%

Trying model with 130 estimators...
Model accuracy on test set: 80.33%

Trying model with 140 estimators...
Model accuracy on test set: 78.69%

Trying model with 150 estimators...
Model accuracy on test set: 81.97%

Trying model with 160 estimators...
Model accuracy on test set: 80.33%

Trying model with 170 estimators...
Model accuracy on test set: 81.97%

Trying model with 180 estimators...
Model accuracy on test set: 83.61%

Trying model with 190 estimators...
Model accuracy on test set: 81.97%

Trying model with 200 estimators...
Model accuracy on test set: 81.97%

Trying model with 210 estimators...
Model accuracy on test set: 80.33%

Trying model with 220 estimators...
Model accuracy on test set: 83.61%

Trying model with 230 estimators...
Model accuracy on test set: 81.97%

Trying model with 240 estimators...
Model accuracy on test set: 81.97%

Trying model with 250 estimators...
Model accuracy on test set: 83.61%

Trying model with 260 estimators...
Model accuracy on test set: 80.33%

Trying model with 270 estimators...
Model accuracy on test set: 81.97%

Trying model with 280 estimators...
Model accuracy on test set: 81.97%

Trying model with 290 estimators...
Model accuracy on test set: 81.97%

Trying model with 300 estimators...
Model accuracy on test set: 78.69%

Trying model with 310 estimators...
Model accuracy on test set: 81.97%

Trying model with 320 estimators...
Model accuracy on test set: 81.97%

Trying model with 330 estimators...
Model accuracy on test set: 81.97%

Trying model with 340 estimators...
Model accuracy on test set: 81.97%

Trying model with 350 estimators...
Model accuracy on test set: 81.97%

Trying model with 360 estimators...
Model accuracy on test set: 81.97%

Trying model with 370 estimators...
Model accuracy on test set: 80.33%

Trying model with 380 estimators...
Model accuracy on test set: 81.97%

Trying model with 390 estimators...
Model accuracy on test set: 83.61%

Trying model with 400 estimators...
Model accuracy on test set: 81.97%

Trying model with 410 estimators...
Model accuracy on test set: 81.97%

Trying model with 420 estimators...
Model accuracy on test set: 83.61%

Trying model with 430 estimators...
Model accuracy on test set: 81.97%

Trying model with 440 estimators...
Model accuracy on test set: 81.97%

Trying model with 450 estimators...
Model accuracy on test set: 80.33%

Trying model with 460 estimators...
Model accuracy on test set: 81.97%

Trying model with 470 estimators...
Model accuracy on test set: 80.33%

Trying model with 480 estimators...
Model accuracy on test set: 83.61%

Trying model with 490 estimators...
Model accuracy on test set: 81.97%

Trying model with 500 estimators...
Model accuracy on test set: 83.61%

Trying model with 510 estimators...
Model accuracy on test set: 81.97%

Trying model with 520 estimators...
Model accuracy on test set: 80.33%

Trying model with 530 estimators...
Model accuracy on test set: 81.97%

Trying model with 540 estimators...
Model accuracy on test set: 80.33%

Trying model with 550 estimators...
Model accuracy on test set: 80.33%

Trying model with 560 estimators...
Model accuracy on test set: 80.33%

Trying model with 570 estimators...
Model accuracy on test set: 81.97%

Trying model with 580 estimators...
Model accuracy on test set: 81.97%

Trying model with 590 estimators...
Model accuracy on test set: 85.25%

Trying model with 600 estimators...
Model accuracy on test set: 80.33%

Trying model with 610 estimators...
Model accuracy on test set: 81.97%

Trying model with 620 estimators...
Model accuracy on test set: 81.97%

Trying model with 630 estimators...
Model accuracy on test set: 81.97%

Trying model with 640 estimators...
Model accuracy on test set: 81.97%

Trying model with 650 estimators...
Model accuracy on test set: 83.61%

Trying model with 660 estimators...
Model accuracy on test set: 81.97%

Trying model with 670 estimators...
Model accuracy on test set: 83.61%

Trying model with 680 estimators...
Model accuracy on test set: 81.97%

Trying model with 690 estimators...
Model accuracy on test set: 83.61%

Trying model with 700 estimators...
Model accuracy on test set: 81.97%

Trying model with 710 estimators...
Model accuracy on test set: 83.61%

Trying model with 720 estimators...
Model accuracy on test set: 81.97%

Trying model with 730 estimators...
Model accuracy on test set: 81.97%

Trying model with 740 estimators...
Model accuracy on test set: 80.33%

Trying model with 750 estimators...
Model accuracy on test set: 81.97%

Trying model with 760 estimators...
Model accuracy on test set: 81.97%

Trying model with 770 estimators...
Model accuracy on test set: 81.97%

Trying model with 780 estimators...
Model accuracy on test set: 81.97%

Trying model with 790 estimators...
Model accuracy on test set: 81.97%

Trying model with 800 estimators...
Model accuracy on test set: 81.97%

Trying model with 810 estimators...
Model accuracy on test set: 81.97%

Trying model with 820 estimators...
Model accuracy on test set: 81.97%

Trying model with 830 estimators...
Model accuracy on test set: 81.97%

Trying model with 840 estimators...
Model accuracy on test set: 81.97%

Trying model with 850 estimators...
Model accuracy on test set: 81.97%

Trying model with 860 estimators...
Model accuracy on test set: 81.97%

Trying model with 870 estimators...
Model accuracy on test set: 81.97%

Trying model with 880 estimators...
Model accuracy on test set: 81.97%

Trying model with 890 estimators...
Model accuracy on test set: 81.97%

Trying model with 900 estimators...
Model accuracy on test set: 81.97%

Trying model with 910 estimators...
Model accuracy on test set: 81.97%

Trying model with 920 estimators...
Model accuracy on test set: 81.97%

Trying model with 930 estimators...
Model accuracy on test set: 81.97%

Trying model with 940 estimators...
Model accuracy on test set: 81.97%

Trying model with 950 estimators...
Model accuracy on test set: 81.97%

Trying model with 960 estimators...
Model accuracy on test set: 83.61%

Trying model with 970 estimators...
Model accuracy on test set: 81.97%

Trying model with 980 estimators...
Model accuracy on test set: 80.33%

Trying model with 990 estimators...
Model accuracy on test set: 81.97%

### start nowego przykładu -----------------------------------------------------

# 1. Przygotowanie danych do uczenia maszynowego
    1. Rozdzielenie danych (features i labels) 'X' & 'y'
    2. Uzupełnienie lub usunięcie danych
    3. Zamiana danych nie numerycznych na numeryczne

In [18]:
heartr_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [21]:
# w 'X' tablica bez 'target', dane wejściowe (features)
X = heartr_disease.drop('target', axis=1) # usuniecie kolumny 'target' (axis=1 -> kolumny, axis=0 -> wiersze)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [22]:
# w 'y' dane wyjściowe (labels)
y = heartr_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

# 2. Rozdzielenie danych na treningowe i testowe

In [ ]:
from sklearn.model_selection import train_test_split