* Strona biblioteki: https://scikit-learn.org
* Dokumentacja/User Guide: https://scikit-learn.org/stable/user_guide.html¶

In [1]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'1.7.1'

In [9]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head() # tylko pięć pierwszych wierszy

               Open     High       Low   Close    Volume
Date
2025-12-19  226.760  229.125  225.5800  227.35  85544374
2025-12-18  225.705  229.225  224.4100  226.76  50272419
2025-12-17  224.655  225.190  220.9900  221.27  44034418
2025-12-16  223.035  223.660  221.1304  222.56  39298857
2025-12-15  227.930  227.930  221.5000  222.54  47286085

In [10]:
df = df_raw
df = df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2025-12-19 to 2025-12-15
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes