## 01. Komentarze, słowa kluczowe, nazewnictwo.

In [1]:
# Komentarz jednoliniowy.

'''
komentarz
wielo-
liniowy
'''

''' 35 słów kluczowych w python:
and   del   from   None   True   as   elif   global   nonlocal   try   assert   else   if   not   while   break   except   import
or   with   class   False   in   pass   yield   continue   finally   is   raise   async   def   for   lambda   return   await
'''

# Camel Case
myVariableName = "John"
# Pascal Case
MyVariableName = "John"
# Snake Case
my_variable_name = "John"

--------------------------------------------------------------------------------------------------------------------------
## 02. Zmienne.

In [2]:
# W python nie ma potrzeby deklarowania zmiennej interpreter wywnioskuje sobe sam jaki to typ.
x = 123
y = 'str'
print(x, y)
# Jeżeli w trakcie programu zmieni się typ zmiennej interpreter sie tym zajmnie sam.
x = "text"
y = 456
print(x, y)

123 str
text 456

In [3]:
# Przypisywanie wielu zmiennym, wielu wartości, ilość zmiennych i ilość wartości musi się zgadzać.
x, y, z = "war1", "war2", "war3"
print(x, y, z)
# Przypisywanie wielu zmiennym, jednej wartości.
x = y = z = "wartość"
print(x, y, z)

war1 war2 war3
wartość wartość wartość

In [4]:
# Szybkie przepisanie wartości z listy do zmiennych (Unpack a Collection), dotyczy to równieź innych kolekcji.
lista = ['war1', 'war2', 'war3']
x, y, z = lista
lista, x, y, z

(['war1', 'war2', 'war3'], 'war1', 'war2', 'war3')

In [5]:
lista = ['str1', 'str2', 'str3', 'str4', 'str5', 'str6']
print(lista)

['str1', 'str2', 'str3', 'str4', 'str5', 'str6']

In [6]:
# Automatyczne przypisywanie wartości, dotyczy to równieź innych kolekcji.
(zm1, *zm2, zm3) = lista
print(zm1)
print(zm2)
print(zm3)

str1
['str2', 'str3', 'str4', 'str5']
str6

In [7]:
(zm1, zm2, *zm3) = lista
print(zm1)
print(zm2)
print(zm3)

str1
str2
['str3', 'str4', 'str5', 'str6']

--------------------------------------------------------------------------------------------------------------------------
## 03. Wbudowane typy danych.

In [8]:
# Text Type:	      str
# Numeric Types:	  int, float, complex
# Sequence Types:	  list, tuple, range
# Mapping Type:	      dict
# Set Types:	      set, frozenset
# Boolean Type:	      bool
# Binary Types:	      bytes, bytearray, memoryview
# None Type:	      None

In [9]:
# Sprawdzanie typu danych.
type(123), type(1.23), type('str'), type(1 + 5j)

(int, float, str, complex)

In [10]:
x = 'text'
y = 123
z = 1.23
a = complex(1, 4)
b = 45 + 54j
type(x), type(y), type(z), type(a), type(b)

(str, int, float, complex, complex)

In [11]:
# Wymuszenie ustawienia odpowiedniego typu.
a = str("Hello World")	
b = int(20)	
c = float(20.5)		
d = complex(1j)		
e = list(("apple", "banana", "cherry"))		
f = tuple(("apple", "banana", "cherry"))	
g = range(6)	
h = dict(name="John", age=36)	
i = set(("apple", "banana", "cherry"))	
j = frozenset(("apple", "banana", "cherry"))	
k = bool(5)	
l = bytes(5)	
m = bytearray(5)
n = memoryview(bytes(5))
print(a, '\n', b, '\n',  c, '\n',  d, '\n',  e, '\n',  f, '\n',  g, '\n',  h, '\n',  i, '\n',  j, '\n',  k, '\n',  l, '\n',  m, '\n',  n)

Hello World
 20
 20.5
 1j
 ['apple', 'banana', 'cherry']
 ('apple', 'banana', 'cherry')
 range(0, 6)
 {'name': 'John', 'age': 36}
 {'banana', 'apple', 'cherry'}
 frozenset({'banana', 'apple', 'cherry'})
 True
 b'\x00\x00\x00\x00\x00'
 bytearray(b'\x00\x00\x00\x00\x00')
 <memory at 0x0000021AFE6E1B40>

--------------------------------------------------------------------------------------------------------------------------
#### Typ tekstowy: str

In [12]:
print(type('abc'))

<class 'str'>

In [13]:
x = "ąćźćł"
y = 'ąćźćł'  # obojętnie czy " " , ' '.
x, y

('ąćźćł', 'ąćźćł')

In [14]:
# String wieloliniowy.
napis = """Napis który
jest, rozdzielony
na wiele linii."""
print(napis)
napis

Napis który
jest, rozdzielony
na wiele linii.

'Napis który\njest, rozdzielony\nna wiele linii.'

In [15]:
napis = " jakiś String - napis czy Coś... "
napis

' jakiś String - napis czy Coś... '

In [16]:
# Długość.
len(napis)

33

In [17]:
# Powielenie.
napis * 3

' jakiś String - napis czy Coś...  jakiś String - napis czy Coś...  jakiś String - napis czy Coś... '

In [18]:
# Pobieranie pojedynczego znaku, string jako tablica.
napis[1] # wynikiem będzie jeden znak, aprzypisanie go do zmiennej zrobi tą zmienną też stringiem

'j'

In [19]:
# Wycinek wg ideksu od 2 do 9.
napis[2:10]

'akiś Str'

In [20]:
# Wycinek wg ideksu od 2 do końca.
napis[2:]

'akiś String - napis czy Coś... '

In [21]:
# Wycinek od początku do 9.
napis[:10]

' jakiś Str'

In [22]:
# Wycinek ostatnich 5 od końca.
napis[-5:]

'ś... '

In [23]:
# Wycinek co drugi od 0 do 8.
# print(string[start:stop:step]) 
napis[0:9:2]

' ai t'

In [24]:
# Cały napis.
napis[:] # lub napis[::] lub napis

' jakiś String - napis czy Coś... '

In [25]:
# Co trzecią pozycję.
napis[::3]

' k rg p yo.'

In [26]:
# Druga od końca.
napis[-2]

'.'

In [27]:
# Co jeden od końca do początku, czyli rewers napisu.
napis[::-1]

' ...śoC yzc sipan - gnirtS śikaj '

In [28]:
# Co dwa od końca do początku.
napis[::-2]

' .śCycspn-git ia '

In [29]:
# Zmiany w stringu są możliwe tylko przez nadpisanie całości, a nie przez zmiany pojedynczych znaków.
# string[1] = 's' -> error nie wolno, trzeba nadpisać całego stringa

In [30]:
# Sprawdź czy jest.
print("napis" in napis)

True

In [31]:
# Sprawdź czy niema.
print("jeden" not in napis)

True

In [32]:
# łączenie, konkatenacja ciągów.
x, y, z = "war1 ", "war2 ", "war3"
razem = x + y + ':' + z
razem

'war1 war2 :war3'

In [33]:
# Wylistowanie znaków
for y in 'asd':  # ze stringa
    print(y, " ", ord(y))  # odr - numer utf8

a   97
s   115
d   100

In [34]:
# Wylistowanie znaków ze zmiennej
x = '12ab'    
for y in x:  # ze stringa w zmiennej
    print(y, " ", ord(y))  # odr - numer utf8

1   49
2   50
a   97
b   98

In [35]:
# Z numeru UTF8 na znak.
s1 = chr(104)
s2 = chr(68)
print(s1, s2)    # wyświetlanie jako znaków osobnych
print(s1 + s2)   # łączenie w stringa

h D
hD

In [36]:
# Ze znaku na numer UTF8.
z1 = ord("a")
z2 = ord("$")
z3 = ord("ę")
print(z1, z2, z3)

97 36 281

In [37]:
# znaki specjalne
# \n: Nowa linia. Powoduje przeniesienie kursora do następnej linii.
# \t: Tabulator. Wstawia znak tabulacji.
# \' lub \": Apostrof lub cudzysłów. Pozwala na wstawienie apostrofu lub cudzysłowu do ciągu znaków otoczonego tym samym rodzajem cudzysłowu.
# \\: Ucieczka znaku. Wstawia znak ucieczki (backslash).
# \b: Powrót kursora. Powoduje cofnięcie kursora o jedno miejsce w lewo.
# \r: Powrót karetki. Przesuwa kursor do początku bieżącej linii.
# \f: Formfeed. Przesuwa kursor do nowej strony.
# \v: Pionowa tabulacja. Powoduje przesunięcie kursora do następnej kolumny, z zachowaniem tych samych wierszy, co poprzednia kolumna.
# \0: Znak końca linii. Oznacza koniec ciągu znaków.
# \ooo Octal value	
# \xhh Hex value	

print("1234\r\n5678\tasd") # \r\n \t
print(f'1234\r\n5678')
print(f'2222{chr(13)+chr(10)}3333')

1234
5678	asd
1234
5678
2222
3333

In [38]:
# Porównywanie stringów
napis = 'abcd' 
if 'a' in 'abc' :   # sprawdza czy 'a' zawiera się w 'abc' w tym przypadku to True
    pass
if napis == 'abcd' : # czy równe 
    pass
if napis < 'abcd' : # czy napis jest przed 'abcd'
    pass
if napis == 'abcd' : # czy napis jest za 'abcd'
    pass

In [39]:
# Formatowanie stringa.
zm1 = 15
zm2 = 1.23
zm3 = -1.23

In [40]:
# Metoda 'format()'

In [41]:
'zm1 = {}  zm2 = {}'.format(zm1, zm2)

'zm1 = 15  zm2 = 1.23'

In [42]:
napis = "tekst {}"
print(napis.format(zm1))

tekst 15

In [43]:
# Metoda F-string

In [44]:
f'test i zmienna={zm1} lub {zm2}'

'test i zmienna=15 lub 1.23'

In [45]:
# Metoda '%' -> formatowanie przypominające printf w 'c i c++'
# 'd' - Signed integer decimal.
# 'i' - Signed integer decimal.
# 'o' - Signed octal value.
# 'u' - Obsolete type - it is identical to 'd'.
# 'x' - Signed hexadecimal (lowercase).
# 'X' - Signed hexadecimal (uppercase).
# 'e' - Floating point exponential format (lowercase).
# 'E' - Floating point exponential format (uppercase).
# 'f' - Floating point decimal format.
# 'F' - Floating point decimal format.
# 'g' - Floating point format. Uses lowercase exponential format if exponent is less than -4 or not less than precision, decimal format otherwise.
# 'G' - Floating point format. Uses uppercase exponential format if exponent is less than -4 or not less than precision, decimal format otherwise.
# 'c' - Single character (accepts integer or single character string).
# 'r' - String (converts any Python object using repr()).
# 's' - String (converts any Python object using str()).
# 'a' - String (converts any Python object using ascii()).
# '%' - No argument is converted, results in a '%' character in the result.

In [46]:
'text %d text %f text %+f' % (zm1, zm2, zm3)

'text 15 text 1.230000 text -1.230000'

In [47]:
'text %+d text %+f text %+f' % (zm1, zm2, zm3) # formatowanie ze znakiem plus normalnie nie wyświetlanym

'text +15 text +1.230000 text -1.230000'

In [48]:
napis = 'text %03d text %f' % (zm1, zm2)
print(napis)
print('text %04d text % 4d' % (zm1, zm1)) # formatowanie, zero przed liczbą lub spacja przed liczbą
print('text %f' % (zm2)) # formatowanie, zero przed liczbą lub spacja przed liczbą

text 015 text 1.230000
text 0015 text   15
text 1.230000

--------------------------------------------------------------------------------------------------------------------------
#### Metody klasy String.

In [49]:
# Dąstępne metody
# dir(str) # dir to lista dostępnych metod w objekcie
# help(str) # manual dla klasy

In [50]:
# Konwertuje pierwszy znak na dużą literę.
temp = napis.strip() # usunięcie biłego znaku z początku stringa
print(temp.capitalize())

Text 015 text 1.230000

In [51]:
# Konwertuje ciąg znaków na małe litery.
print(napis.casefold())

text 015 text 1.230000

In [52]:
# Zwraca wyśrodkowany ciąg znaków.
# center()

In [53]:
# Zwraca liczbę wystąpień określonej wartości w ciągu znaków.
# count()

In [54]:
# Zwraca zakodowaną wersję łańcucha znaków.
# encode()

In [55]:
# Zwraca wartość true, jeśli ciąg znaków kończy się podaną wartością.
print(napis.endswith('.'))  # czy kończy się na

False

In [56]:
# Ustawia rozmiar tabulatora łańcucha znaków.
# expandtabs()

In [57]:
# Przeszukuje ciąg znaków w poszukiwaniu określonej wartości i zwraca pozycję, w której została ona znaleziona.
print(napis.find(' '))   # -1 jak nie znajdzie
print(napis.find(' ', 6, 10))  # znajdź w wycinku, -1 jak nie znajdzie

4
8

In [58]:
# Formatuje określone wartości w ciągu znaków.
# format()

In [59]:
# Formatuje określone wartości w ciągu znaków.
# format_map()

In [60]:
# Przeszukuje ciąg znaków w poszukiwaniu określonej wartości i zwraca pozycję, w której została ona znaleziona.
print(napis.index(' '))  # jak nieznajdzie to error
print(napis.index(' ', 6, 10)) # znajdź w wycinku jak nieznajdzie to error

4
8

In [61]:
# Zwraca True, jeśli wszystkie znaki w ciągu są alfanumeryczne.    
# isalnum()

In [62]:
# Zwraca True, jeśli wszystkie znaki w łańcuchu znajdują się w alfabecie.   
# isalpha()

In [63]:
# Zwraca True, jeśli wszystkie znaki w łańcuchu są znakami ascii.    
# isascii()

In [64]:
# Zwraca True, jeśli wszystkie znaki w ciągu są liczbami dziesiętnymi.   
# isdecimal()

In [65]:
# Zwraca True, jeśli wszystkie znaki w ciągu są cyframi.
# isdigit()

In [66]:
# Zwraca True, jeśli ciąg znaków jest identyfikatorem.
# isidentifier()

In [67]:
# Zwraca True, jeśli wszystkie znaki w ciągu są małymi literami.
# islower()

In [68]:
# Zwraca True, jeśli wszystkie znaki w ciągu są numeryczne.    
# isnumeric()

In [69]:
# Zwraca True, jeśli wszystkie znaki w ciągu są drukowalne.
# isprintable()

In [70]:
# Zwraca True, jeśli wszystkie znaki w ciągu są białymi znakami.    
# isspace()

In [71]:
# Zwraca True, jeśli ciąg znaków jest zgodny z regułami tytułu.    
# istitle()

In [72]:
# Zwraca True, jeśli wszystkie znaki w ciągu są pisane wielkimi literami.   
# isupper()

In [73]:
# Łączy elementy iterowalnej do końca łańcucha znaków
# join()

In [74]:
# Zwraca wersję ciągu znaków wyrównaną do lewej    
# ljust()

In [75]:
# Konwertuje ciąg znaków na małe litery
print(napis.lower())

text 015 text 1.230000

In [76]:
# Zwraca przyciętą z lewej strony wersję ciągu znaków.    
# lstrip()

In [77]:
# Zwraca tabelę tłumaczeń do wykorzystania w tłumaczeniach.
# maketrans()

In [78]:
# Zwraca krotkę (tuple), w której ciąg znaków jest podzielony na trzy części.
# partition()

In [79]:
# Zwraca ciąg znaków, w którym określona wartość jest zastępowana określoną wartością.
print(napis.replace('.', '!'))  # zamiana
print(napis.replace('string', 'str'))  # zamiana

text 015 text 1!230000
text 015 text 1.230000

In [80]:
# Przeszukuje ciąg znaków w poszukiwaniu określonej wartości i zwraca ostatnią pozycję, na której została ona znaleziona.    
# rfind()

In [81]:
# Przeszukuje ciąg znaków w poszukiwaniu określonej wartości i zwraca ostatnią pozycję, na której została ona znaleziona.
# rindex()

In [82]:
# Zwraca prawostronnie wyjustowaną wersję ciągu.
# rjust()

In [83]:
# Zwraca krotkę, w której ciąg znaków jest podzielony na trzy części.    
# rpartition()

In [84]:
# Dzieli ciąg znaków na określony separator i zwraca listę.
# rsplit()

In [85]:
# Zwraca przyciętą w prawo wersję ciągu znaków.    
# rstrip()

In [86]:
# Dzieli ciąg znaków na określony separator i zwraca listę.  
print(napis.split(' '))

['text', '015', 'text', '1.230000']

In [87]:
# Dzieli ciąg znaków na podziały wierszy i zwraca listę.    
# splitlines()

In [88]:
# Zwraca wartość true, jeśli ciąg znaków zaczyna się od podanej wartości.
print(napis.startswith('j'))  # czy zaczyna się na
print(napis.startswith(' '))  # czy zaczyna się na

False
False

In [89]:
# Przycina wszystkie białe znaki z początku i końca.
print(napis.strip())

text 015 text 1.230000

In [90]:
# Zamienia małe litery na wielkie i odwrotnie.    
# swapcase()

In [91]:
# Konwertuje pierwszy znak każdego słowa na wielkie litery.
# title()

In [92]:
# Zwraca przetłumaczony łańcuch znaków.                       
# translate()

In [93]:
# Konwertuje ciąg znaków na duże litery.
print(napis.upper())

TEXT 015 TEXT 1.230000

In [94]:
# Wypełnia ciąg znaków określoną liczbą wartości 0 na początku.
# zfill()

--------------------------------------------------------------------------------------------------------------------------
#### Typy numeryczne: int, float, complex

In [95]:
# Dąstępna pomoc
# dir(float) 
# help(float) 
# dir(int) 
# help(int) 
# dir(complex) 
# help(complex)

In [96]:
# Int.
x = 1
y = 34567890
z = -45354534
x, y, z

(1, 34567890, -45354534)

In [97]:
# Reprezentacja danych
print(bin(5)) # reprezentacja binarna
print(hex(234)) # repezentacja hex
print(int(0xabcd)) # reprezenntacja dziesiętna
print(int(0b011011))
print(int('0b011011', 2))

0b101
0xea
43981
27
27

In [98]:
# Float.
x = 1.01
y = -45.0234
z = -2.1e10
x, y, z

(1.01, -45.0234, -21000000000.0)

In [99]:
# zaokrąglanie liczb
print(round(3.123)) # zaokrągleni, bez przecinków
print(round(3.123, 1)) # zaokrąglenie z wyznaczeniem ile miejsc po przecinku

3
3.1

In [100]:
# Complex, liczba zespolona.
x = 3+5j
# lub
x = complex(3, 5)
y = 5j
z = -5j
x, y, z

((3+5j), 5j, (-0-5j))

In [101]:
# Pobieranie i wyświetlanie części liczb zespolonych.
x.real, x.imag, y.real, y.imag

(3.0, 5.0, 0.0, 5.0)

In [102]:
aaa = 10
aaa.to_bytes()

b'\n'

--------------------------------------------------------------------------------------------------------------------------
#### Kolekcje: list

In [103]:
# Lista jest dynamicznym typem danych służącym do przechowywania kolekcji elementów. 
# Elementy w liście mogą być różnych typów danych, a lista może zawierać elementy takie jak liczby, łańcuchy znaków, inne listy czy nawet obiekty. 
# Listy w Pythonie są mutowalne, co oznacza, że można je zmieniać (dodawać, usuwać, modyfikować elementy) po ich utworzeniu.
lista_pusta = []  # Pusta lista
lista_liczb = [1, 2, 3, 4, 5]  # Lista liczb całkowitych
lista_łańcuchów = ['jabłko', 'banan', 'gruszka']  # Lista łańcuchów znaków
lista_mieszana = [1, 'jabłko', True, 3.14]  # Lista zawierająca różne typy danych

In [104]:
lista = [1, 'dwa', 3.0, 4, 5]
lista, len(lista)

([1, 'dwa', 3.0, 4, 5], 5)

In [105]:
# Tworzenie aliasu do listy, dane są w tej samej części pamięci.
lista_copy = lista 
print(lista, lista_copy)
lista[0] = 123
print(lista, lista_copy)

[1, 'dwa', 3.0, 4, 5] [1, 'dwa', 3.0, 4, 5]
[123, 'dwa', 3.0, 4, 5] [123, 'dwa', 3.0, 4, 5]

In [106]:
# Tworzenie kopi listy w nowym miejscu w pamięci.
lista_copy = lista[:]
print(lista, lista_copy)
lista[0] = 1
print(lista, lista_copy)

[123, 'dwa', 3.0, 4, 5] [123, 'dwa', 3.0, 4, 5]
[1, 'dwa', 3.0, 4, 5] [123, 'dwa', 3.0, 4, 5]

In [107]:
# Sprawdzenie czy jest na liście.
lista = ['str1', 'str2', 'str3', 'str4', 'str5', 'str6', 'str7']
print('str3' in lista)

True

In [108]:
# Dostęp do elementów
print(lista[0]) # bezpośrednio o elementu 0
print(lista[-1]) # do ostatniego
print(lista[1:3]) # od 1 do 2
print(lista[::-1]) # reverse
print(lista[2:]) # od 2 do końca
print(lista[:]) # cała
print(lista[::]) # cała
print(lista[:2]) # od początku do 1
print(lista[0::2]) # całą co drugi element
print(lista[1::2]) # całą co drugi element, przesunięta o jeden
# list([start:stop:step])
print(lista[::-2]) # od końca co drugi element

str1
str7
['str2', 'str3']
['str7', 'str6', 'str5', 'str4', 'str3', 'str2', 'str1']
['str3', 'str4', 'str5', 'str6', 'str7']
['str1', 'str2', 'str3', 'str4', 'str5', 'str6', 'str7']
['str1', 'str2', 'str3', 'str4', 'str5', 'str6', 'str7']
['str1', 'str2']
['str1', 'str3', 'str5', 'str7']
['str2', 'str4', 'str6']
['str7', 'str5', 'str3', 'str1']

In [109]:
# Sklejanie list (konkatenacja)
lista + lista_copy

['str1', 'str2', 'str3', 'str4', 'str5', 'str6', 'str7', 123, 'dwa', 3.0, 4, 5]

In [110]:
# Powielanie list
lista * 3

['str1',
 'str2',
 'str3',
 'str4',
 'str5',
 'str6',
 'str7',
 'str1',
 'str2',
 'str3',
 'str4',
 'str5',
 'str6',
 'str7',
 'str1',
 'str2',
 'str3',
 'str4',
 'str5',
 'str6',
 'str7']

In [111]:
listaNum = [1,2,3,4,5,6,7,8,9,10]
# funcje agregujące min, max, sum
print(max(listaNum)) # maksymalna wartość
print(min(listaNum)) # minimalna wartość
print(sum(listaNum)) # suma wartości, muszą być liczby
print(sum(listaNum) / len(listaNum)) # średnia arytmetyczna, muszą być same liczby

10
1
55
5.5

In [112]:
# Dodawanie na koniec listy
lista.append('str8')
lista

['str1', 'str2', 'str3', 'str4', 'str5', 'str6', 'str7', 'str8']

In [113]:
# Dodawanie po indeksie do listy
lista.insert(2, 'str2.5')
lista

['str1', 'str2', 'str2.5', 'str3', 'str4', 'str5', 'str6', 'str7', 'str8']

In [114]:
# Rozszerzanie listy o inną listę, można tak do listy dodać inne kolekcje.
lista_ext = [1, 2, 3]
lista.extend(lista_ext)
lista

['str1',
 'str2',
 'str2.5',
 'str3',
 'str4',
 'str5',
 'str6',
 'str7',
 'str8',
 1,
 2,
 3]

In [115]:
# Usuwanie po wartości.
lista.remove('str2.5')
lista

['str1', 'str2', 'str3', 'str4', 'str5', 'str6', 'str7', 'str8', 1, 2, 3]

In [116]:
# Usuwanie ostatniej, ze zwrotem wartości.
lista.pop()

3

In [117]:
lista

['str1', 'str2', 'str3', 'str4', 'str5', 'str6', 'str7', 'str8', 1, 2]

In [118]:
# Usuwanie po indeksie, ze zwrotem wartości.
lista.pop(8)

1

In [119]:
lista

['str1', 'str2', 'str3', 'str4', 'str5', 'str6', 'str7', 'str8', 2]

In [120]:
# Usuwanie po indeksie, bez zwrotu.
del lista[8]
lista

['str1', 'str2', 'str3', 'str4', 'str5', 'str6', 'str7', 'str8']

In [121]:
# Wyczyszczenie listy.
lista.clear()
lista

[]

In [122]:
# Skasowanie listy, całkowicie z pamięci.
del lista
# lista -> tu będzie błąd, bo lista już nie istnieje

In [123]:
lista = ['str1', 'str2', 'str3', 'str4', 'str5', 'str6', 'str7']

In [124]:
# For czytający po elementach listy
for x in lista:
    print(x)

str1
str2
str3
str4
str5
str6
str7

In [125]:
# For czytający po indeksach listy
for x in range(len(lista)):
    print(x)

0
1
2
3
4
5
6

In [126]:
# While czytający
i = 0
while i < len(lista):
    print(i)
    print(lista[i])
    i += 1

0
str1
1
str2
2
str3
3
str4
4
str5
5
str6
6
str7

In [127]:
# Składnia list comprehension
# nowa_lista = [wyrażenie for element in iterowalny if warunek]
# wyrażenie to operacja wykonywana na każdym elemencie w iterowalnym.
# element to aktualny element w iteracji.
# iterowalny to sekwencja elementów do iteracji (np. lista, krotka, ciąg znaków).
# warunek (opcjonalnie) to filtr, który zawiera tylko elementy spełniające określone kryterium.
[print(x) for x in lista]

str1
str2
str3
str4
str5
str6
str7

[None, None, None, None, None, None, None]

In [128]:
# newlist = [expression for item in iterable if condition == True]

In [129]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [130]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [131]:
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [132]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [133]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [134]:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [135]:
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [136]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [137]:
liczby = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
parzyste = [i for i in liczby if i % 2 == 0] 
# wynik z 'i' bedzie dodany do listy 'parzyste', dla karzdej kolejnej 'liczby' która spełna warunek (i modulo 2) = 0 czyli parzysta
print(parzyste)

parzyste=[i * 10 for i in liczby]
# przed przypisaniem każdej i do parzyste pomnóż i przez 10
print(parzyste)

# totalny skrót
print( [i for i in range(1, 21) if i % 2 == 0] )

[0, 2, 4, 6, 8]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [138]:
# Rozdzielenie stringa na listę, wg separatora.
napis = 'asd fgh 123 543'
lista = napis.split(' ') # separatror ' '
print(napis)
print(lista)

asd fgh 123 543
['asd', 'fgh', '123', '543']

In [139]:
# Połączenie listy do stringa, z separatorem.
napis = ''
singn = ':' # separator
napis = singn.join(lista)
print(napis)

asd:fgh:123:543

--------------------------------------------------------------------------------------------------------------------------
#### Metody list

In [140]:
# Dodaje element na końcu listy
# append()

In [141]:
# Usuwa wszystkie elementy z listy
# clear()

In [142]:
# Zwraca kopię listy, kopia w nowym miejscu w pamięci.
# copy()	
lista = ['str1', 'str2', 'str1', 'str4', 'str1', 'str6', 'str1']
lista_copy = lista.copy()
print(lista, lista_copy)
lista[0] = 0
print(lista, lista_copy)

['str1', 'str2', 'str1', 'str4', 'str1', 'str6', 'str1'] ['str1', 'str2', 'str1', 'str4', 'str1', 'str6', 'str1']
[0, 'str2', 'str1', 'str4', 'str1', 'str6', 'str1'] ['str1', 'str2', 'str1', 'str4', 'str1', 'str6', 'str1']

In [143]:
# Zwraca liczbę elementów z podaną wartością
# count()	
lista = ['str1', 'str2', 'str1', 'str4', 'str1', 'str6', 'str1']
lista.count('str1')

4

In [144]:
# Dodaje elementy listy (lub dowolnej kolekcji) na koniec bieżącej listy.
# extend()

In [145]:
# Zwraca indeks pierwszego elementu z podaną wartością
# index()	
lista = ["banana", "apple", "kiwi", "cherry", "mango"]
lista.index('apple')

1

In [146]:
# Dodaje element w określonej pozycji
# insert()

In [147]:
# Usuwa element w określonej pozycji
# pop()

In [148]:
# Usuwa element z podaną wartością
# remove()

In [149]:
# Odwraca kolejność listy
# reverse()	
lista = ["banana", "apple", "kiwi", "cherry", "mango"]
print(lista)
lista.reverse()
print(lista)

['banana', 'apple', 'kiwi', 'cherry', 'mango']
['mango', 'cherry', 'kiwi', 'apple', 'banana']

In [150]:
# Sortuje listę, i zapamiętuje wynik sortowania w liście
# sort()
lista = ["banana", "apple", "kiwi", "cherry", "mango"]
print(lista)
lista.sort()
print(lista)
lista.sort(reverse=True)
print(lista)

['banana', 'apple', 'kiwi', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']
['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [151]:
# Sortuje listę jako wyjście, i nie zapamiętuje wyniku.
lista = ["banana", "apple", "kiwi", "cherry", "mango"]
print(sorted(lista))
print(lista)

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['banana', 'apple', 'kiwi', 'cherry', 'mango']

In [152]:
# Listy o automatycznych długościach
lista = [1, 2, 3]
a, b, c = [1, 2, 3]
print(a) # 1
print(b) # 2
print(c) # 3

a, b, c, *other = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a) # 1
print(b) # 2
print(c) # 3
print(other) # [4, 5, 6, 7, 8, 9]

a, b, c, *other, d = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a) # 1
print(b) # 2
print(c) # 3
print(other) # [4, 5, 6, 7, 8]
print(d) # 9

1
2
3
1
2
3
[4, 5, 6, 7, 8, 9]
1
2
3
[4, 5, 6, 7, 8]
9

In [153]:
# Listy list (wielowymiarowość)
lista = [[1, 2, 3], ["asd", 34.32, 'qwe'], [43.76, 123.32, 65.23, 1, 2]]
print(lista)  # wszystkie listy
print(lista[0])  # poszczególna lista
print(lista[1])
print(lista[2])
print(lista[0][1])  # element w liście z listy

[[1, 2, 3], ['asd', 34.32, 'qwe'], [43.76, 123.32, 65.23, 1, 2]]
[1, 2, 3]
['asd', 34.32, 'qwe']
[43.76, 123.32, 65.23, 1, 2]
2

--------------------------------------------------------------------------------------------------------------------------
#### Kolekcje: tuples

In [154]:
# To samo ci listy tylko po utworzeniu nie można ich modyfikować.
lista = [111,222,'333', True, 1.23]
krotka = ('asd', 123, 0xa5, -1.234)
print(krotka)
krotka = tuple() # inicjalizacja pustej krotki
krotka = () # jw
krotka = tuple(lista) # kopia z listy do krotki, jak si niedoda rzutowania to powstanie lista
# krotka to szybki dostęp do danych
print(lista, krotka)
print(krotka[1:]) # dostęp do odczytu z krotki jest takisam jak z listy

('asd', 123, 165, -1.234)
[111, 222, '333', True, 1.23] (111, 222, '333', True, 1.23)
(222, '333', True, 1.23)

In [155]:
# Metody

In [156]:
# Zwraca liczbę elementów z podaną wartością
# count()	
krotka = ('str1', 'str2', 'str1', 'str4', 'str1', 'str6', 'str1')
krotka.count('str1')

4

In [157]:
# Zwraca indeks pierwszego elementu z podaną wartością
# index()	
krotka = ("banana", "apple", "kiwi", "cherry", "mango")
krotka.index('apple')

1

--------------------------------------------------------------------------------------------------------------------------
#### Kolekcje: range

--------------------------------------------------------------------------------------------------------------------------
#### Kolekcje: dict

--------------------------------------------------------------------------------------------------------------------------
#### Kolekcje: set, frozenset

--------------------------------------------------------------------------------------------------------------------------
#### Typ logiczny: bool

In [158]:
# bool

'''
x != y
x == y 
x > y
x < y
x >= y
x <= y
x is y (==)
x is not y (!=) 
x and y
x or y
x not y
'a' in 'abc' # sprawdza czy 'a' zawiera się stringu w 'abc' w tym przypadku to True
'''

x = True
# x = False
print(x, type(x))
print(x < 0)
print(f'x = {x}')
print('x =', x)
print(f'out = {x == 0}')
print(f'out = {x < 0}')
print(f'out = {x != 0}')
print(f'out = {x > 0}')
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(''))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

True <class 'bool'>
False
x = True
x = True
out = False
out = False
out = True
out = True
False
False
False
False
False
False
False
False

--------------------------------------------------------------------------------------------------------------------------
#### Dane binarne: bytes, bytearray, memoryview

--------------------------------------------------------------------------------------------------------------------------
#### None

--------------------------------------------------------------------------------------------------------------------------
#### Tablice

--------------------------------------------------------------------------------------------------------------------------
## 04. Random, liczby losowe (podstawy).

In [159]:
import random
# random.seed(42) # inicjalizacja generatora liczb pseudolosowych od początkowego stanu
random.randrange(start=-100, stop=100, step=2) # od -100 do 99, losuje co 2 czyli tylko przyste

64

In [160]:
random.randint(-10, 11) # od -10 do 10

-1

In [161]:
random.random() # od 0 do 1

0.4816673195305665

--------------------------------------------------------------------------------------------------------------------------
## 05. Input i Print.

In [162]:
listaR = list(random.randbytes(10)) # generuje określoną liczbę bajtów
listaR

[190, 231, 85, 106, 95, 66, 69, 137, 73, 92]

In [163]:
# Wprowadzanie tekdtu ze standardowego wejścia (np. klawiatura).
# strIn = input('wprowadź tekst i zatwierdź enterem:') 
# strIn

In [164]:
# Wysyłanie tekstu na standardowe wyjście.
print('test tekst')

test tekst

In [165]:
print(x, y, z)

True 5j (-0-5j)

In [166]:
# Sformatowany tekst ze zmniennymi.
print(f'opis {x}, {y}, {z}')

opis True, 5j, (-0-5j)

In [167]:
# Sformatowany print podobny do printf z C.
sVal = 'string'
iVal = 1234
print("napis = %s : int = %i" % (sVal, iVal))

napis = string : int = 1234

--------------------------------------------------------------------------------------------------------------------------
## 06. Rzutowanie (casting).

In [168]:
x = str(3)
y = int(34)
z = float(2)
x, y, z, type(x), type(y), type(z)

('3', 34, 2.0, str, int, float)

In [169]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
a = float(x) # z int na float
b = int(y) # z float na int
c = complex(x) # z int na complex
x, y, z, a, b, c

(1, 2.8, 1j, 1.0, 2, (1+0j))

In [170]:
# Na int.
x = int(1)  
y = int(2.8) 
z = int("3") 
x, y, z

(1, 2, 3)

In [171]:
# Na float.
x = float(1)    
y = float(2.8)  
z = float("3")  
w = float("4.2")
x, y, z, w

(1.0, 2.8, 3.0, 4.2)

In [172]:
# Na String.
x = str("s1") 
y = str(2)    
z = str(3.0)  
x, y, z

('s1', '2', '3.0')

--------------------------------------------------------------------------------------------------------------------------
## 08. Operatory.

In [173]:
# Operatory arytmetyczne.
'''
** -> potęgowanie
* -> mnożenie
/ -> dzielenie
// -> dzielenie całkowite
% -> reszta z dzielenia (jak jest podzielne całkowicie == 0)
+ -> dodawanie
- -> odejmowanie
operacje '+' na napisach to konkatencja (sklejanie)
'''
a = 10
b = 3
print(a + b)  # Wynik: 13
print(a - b)  # Wynik: 7
print(a * b)  # Wynik: 30
print(a / b)  # Wynik: 3.3333333333333335
print(a // b) # Wynik: 3
print(a % b)  # Wynik: 1
print(a ** b) # Wynik: 1000

13
7
30
3.3333333333333335
3
1
1000

In [174]:
# Operatory przypisania.
'''
=	->  x = 5
+=	->  x += 3	->  x = x + 3	
-=	->  x -= 3	->  x = x - 3	
*=	->  x *= 3	->  x = x * 3	
/=	->  x /= 3	->  x = x / 3	
%=	->  x %= 3	->  x = x % 3	
//=	->  x //= 3	->  x = x // 3	
**=	->  x **= 3	->  x = x ** 3	
&=	->  x &= 3	->  x = x & 3	
|=	->  x |= 3	->  x = x | 3	
^=	->  x ^= 3	->  x = x ^ 3	
>>=	->  x >>= 3	->  x = x >> 3	
<<=	->  x <<= 3	->  x = x << 3
'''
;

''

In [175]:
# Operatory porównania.
'''
==	równy	            x == y	
!=	nie równy	        x != y	
>	większy	            x > y	
<	mniejszy            x < y	
>=	większy lub równy	x >= y	
<=	mniejszy lub równy	x <= y
'''
a = 5
b = 3
print(a == b)  # False
print(a != b)  # True
print(a > b)   # True
print(a < b)   # False
print(a >= b)  # True
print(a <= b)  # False

False
True
True
False
True
False

In [176]:
# Operatory logiczne.
'''
and -> True jeżeli obydwie strony takie same
or -> True jeżeli jedna luib dwie strony takiesame
not -> Odwrócenie wyniku
'''
x = 5
y = 10
print(x > 0 and y < 20)  # True, ponieważ oba warunki są spełnione
print(x < 0 or y < 20)   # True, ponieważ przynajmniej jeden warunek jest spełniony
print(not(x > 0 and y < 20))  # False, ponieważ wynik z operatora and jest True, a not odwraca wartość

True
True
False

In [177]:
# Operatory tożsamości(identity operators).
# Służą do porównywania tożsamości obiektów. 
# Każdy obiekt ma swoją unikalną tożsamość, którą można uzyskać za pomocą funkcji wbudowanej id(). 
# Operatorzy tożsamości to 'is' i 'is not'.
'''
Operator is: Zwraca True, jeśli oba obiekty wskazują na tę samą lokalizację w pamięci.
Operator is not: Zwraca True, jeśli obiekty nie wskazują na tę samą lokalizację w pamięci.
'''
x = [1, 2, 3]
y = [1, 2, 3]
print(x is y)  # False, ponieważ x i y wskazują na różne lokalizacje w pamięci
a = 5
b = 5
print(a is b)  # True, ponieważ a i b wskazują na tę samą lokalizację w pamięci
c = "hello"
d = "hello"
print(c is d)  # True, ponieważ c i d wskazują na tę samą lokalizację w pamięci
e = [1, 2, 3]
f = e
print(e is f)  # True, ponieważ e i f wskazują na tę samą lokalizację w pamięci

False
True
True
True

In [178]:
# Operatory członkostwa (Membership Operators).
# Służą do sprawdzania przynależności elementu do zbioru danych. 
# Lista operatorów członkostwa wraz z ich funkcjami:
'''
in: Zwraca True, jeśli dany element znajduje się w zbiorze danych.
not in: Zwraca True, jeśli dany element nie znajduje się w zbiorze danych.
'''
listaNum = [1, 2, 3, 4, 5]
print(3 in listaNum)    # True, ponieważ 3 znajduje się w liście
print(6 in listaNum)    # False, ponieważ 6 nie znajduje się w liście

napis = "Python"
print("y" in napis)       # True, ponieważ "y" znajduje się w napisie
print("z" not in napis)   # True, ponieważ "z" nie znajduje się w napisie

True
False
True
True

In [179]:
# Operatory bitowe (Bitwise Operators).
# Pozwalają wykonywać operacje na poziomie bitów na liczbach całkowitych. 
# Lista operatorów bitowych wraz z ich funkcjami:
'''
& - Bitowa koniunkcja (AND): Zwraca 1, jeśli oba bity są ustawione na 1.
| - Bitowa alternatywa (OR): Zwraca 1, jeśli przynajmniej jeden z bitów jest ustawiony na 1.
^ - Bitowa alternatywa wykluczająca (XOR): Zwraca 1, jeśli tylko jeden z bitów jest ustawiony na 1 (ale nie oba).
~ - Bitowa negacja (NOT): Zwraca wartość negacji bitowej danego bitu (jeden komplement).
<< - Przesunięcie bitowe w lewo: Przesuwa bity liczby w lewo o określoną liczbę pozycji, wstawiając zera na prawo.
>> - Przesunięcie bitowe w prawo: Przesuwa bity liczby w prawo o określoną liczbę pozycji, wstawiając zera na lewo.
'''
a = 60  # Wartość binarna: 0011 1100
b = 13  # Wartość binarna: 0000 1101

print(a & b)  # Wynik: 12 (binarnie: 0000 1100)
print(a | b)  # Wynik: 61 (binarnie: 0011 1101)
print(a ^ b)  # Wynik: 49 (binarnie: 0011 0001)
print(~a)     # Wynik: -61 (binarnie: 1100 0011)
print(a << 2) # Wynik: 240 (binarnie: 1111 0000)
print(a >> 2) # Wynik: 15 (binarnie: 0000 1111)

12
61
49
-61
240
15

In [180]:
# Kolejność operatorów.
# ()	                                             Parentheses	
# **	                                             Exponentiation	
# +x  -x  ~x	                                     Unary plus, unary minus, and bitwise NOT	
# *  /  //  %	                                     Multiplication, division, floor division, and modulus	
# +  -	                                         Addition and subtraction	
# <<  >>	                                         Bitwise left and right shifts	
# &	                                             Bitwise AND	
# ^	                                             Bitwise XOR	
# |	                                             Bitwise OR	
# ==  !=  >  >=  <  <=  is  is not  in  not in 	 Comparisons, identity, and membership operators	
# not	                                             Logical NOT	
# and	                                             AND	
# or	                                             OR

In [181]:
# Operatorem warunkowy (thernary operator).
# zmienna = wartość_wyrażenia_true if warunek else wartość_wyrażenia_false
# warunek to warunek logiczny, który jest sprawdzany.
# wartość_wyrażenia_true to wartość przypisywana do zmiennej, jeśli warunek jest prawdziwy.
# wartość_wyrażenia_false to wartość przypisywana do zmiennej, jeśli warunek jest fałszywy.
war1 = True
war2 = False
print('ok') if (war1) else print('else')
#"wykonaj" if "warunek" else "wykonaj to"

ok